MVTS_PROJECT_DIR=~/Projects/GreyOrange/mvts/f3/
# MVTS_IMAGE=localhost:5000/multifleet_planner
MVTS_IMAGE=us-docker.pkg.dev/greymatter-development/apps/multifleet_planner
#MVTS_VERSION=7.4.0-82-gb28fd2e-dirty
MVTS_DATA_DIR=${MVTS_PROJECT_DIR}/data
RABBITMQ_HOST=rabbitmq
INFLUX_URL=http://influxdb:8086
CLAUDE_CODE_AUTH_TOKEN=
GITHUB_PERSONAL_ACCESS_TOKEN=
JIRA_BASE_URL=https://greyorange-work.atlassian.net
JIRA_USER_EMAIL=shubham.kumar@greyorange.com
JIRA_API_TOKEN=
GOOGLE_API=
HOST_DIR=/Users/shubham.kumar/Projects/GreyOrange/mvts/vrp-obts-rec
OPENCLAW_GATEWAY_TOKEN=
