version: '3.8'

services:
  registry:
    image: registry:2
    container_name: registry
    ports:
      - "5000:5000"
    volumes:
      - registry_data:/var/lib/registry
    networks:
      - monitoring

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - monitoring

  influxdb:
    image: influxdb:1.8
    container_name: influxdb
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb
    environment:
      INFLUXDB_DB: GreyOrange
      INFLUXDB_HTTP_AUTH_ENABLED: "true"
      INFLUXDB_ADMIN_USER: root
      INFLUXDB_ADMIN_PASSWORD: root 
      INFLUXDB_USER: influxdb
      INFLUXDB_USER_PASSWORD: influxdb
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    depends_on:
      - influxdb
    networks:
      - monitoring
  mvts:
    image: ${MVTS_IMAGE:-localhost:5000/multifleet_planner}:${MVTS_VERSION:-develop}
    container_name: mvts
    restart: always
    volumes:
      - ${MVTS_DATA_DIR}:/app/data
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - rabbitmq
      - registry
      - influxdb
      - grafana
    networks:
      - monitoring 
  builder:
    image: maven:3.9.9-eclipse-temurin-17
    container_name: mvts_builder
    depends_on:
      - registry
    volumes:
      - ${MVTS_PROJECT_DIR:-.}:/app
      - ~/.m2:/root/.m2
    working_dir: /app/workspace
    command: mvn clean install -DskipTests -s /app/workspace/settings.xml -Puse-aspect

volumes:
  influxdb_data:
  grafana_data:
  rabbitmq_data:
  registry_data:

networks:
  monitoring:
    driver: bridge
